<h1>Cadastro de Pessoas</h1>
<form #formPessoa="ngForm" class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput required name="nome" [(ngModel)]="pessoa.nome" placeholder="Nome"/>
    <mat-error>Nome é obrigatório</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="pessoa.cpf" required name="cpf" placeholder="CPF">
    <mat-error>CPF é obrigatório</mat-error>
  </mat-form-field>
  <app-estado-cidade-select></app-estado-cidade-select>
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="pessoa.dataNascimento" required name="dataNascimento" [matDatepicker]="picker"
           placeholder="Data de Nascimento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>Data de nascimento é obrigatória</mat-error>
  </mat-form-field>
  <mat-radio-group class="example-full-width">
    <mat-radio-button value="true">Maior de idade</mat-radio-button>
    <mat-radio-button value="false">Menor de idade</mat-radio-button>
  </mat-radio-group>
  <!--<ui-switch color="#369" [(ngModel)]="pessoa.maiorIdade" id="mi" name="mi"></ui-switch>-->
</form>
<br/>
<div>
  <button mat-raised-button color="accent" (click)="savePessoa()" [disabled]="!formPessoa.form.valid">Salvar</button>
<!--<button (click)="savePessoa()" [disabled]="!formPessoa.valid" [ngClass]="{disabled : !isValid}">Salvar</button>-->
</div>
