<div class="formulario">
    <label>Estado:</label>
    <select [(ngModel)]="selectedEstado.id" (change)="onSelectEstado($event.target.value)" id="sel-est">
        <option value="0">{{selectEstadoMessage}}</option>
        <option *ngFor="let estado of estados" value={{estado.id}}>{{estado.nome}}</option>
    </select>
    <br/><br/>
    <div>
        <label>Cidade:</label>
        <select [(ngModel)]="selectedCidade.id" (change)="onSelectCidade($event.target.value)" id="sel-cid">
            <option *ngIf='selectedEstado.id == 0' value="0">{{selectCidadeMessage}}</option>
            <option *ngFor="let cidade of cidades " value={{cidade.id}}>{{cidade.nome}}</option>
        </select>
    </div>
</div>